/* NEURODARK NATIVE STYLES */
:root {
    --neon-green: #00ff41;
    --dark-bg: #050505;
}

body {
    font-family: 'Courier New', Courier, monospace; /* Fuente segura del sistema */
    background-color: var(--dark-bg);
    color: #ccc;
}

/* CUSTOM SCROLLBAR */
.custom-scroll::-webkit-scrollbar { width: 4px; height: 4px; }
.custom-scroll::-webkit-scrollbar-track { background: #000; }
.custom-scroll::-webkit-scrollbar-thumb { background: #333; }

/* LOG */
.log-info { color: #0f0; margin-bottom: 2px; }
.log-err { color: #f55; margin-bottom: 2px; font-weight: bold; }

/* TRACK BAR */
.track-block {
    min-width: 36px; height: 30px;
    background: #111; border: 1px solid #333;
    display: flex; align-items: center; justify-content: center;
    font-size: 10px; cursor: pointer; color: #666;
}
.track-block-editing { border-color: var(--neon-green); color: var(--neon-green); background: #002200; }
.track-block-playing { box-shadow: 0 0 8px #fff; border-color: #fff; z-index: 10; }

/* MATRIX STEPS */
.step-box {
    aspect-ratio: 1; background: #111; border: 1px solid #222;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; position: relative;
}
.step-box:active { border-color: #fff; }
.step-playing { background: #222; border-color: #fff; box-shadow: inset 0 0 10px rgba(255,255,255,0.2); }
.has-bass { 
    background: #0a2a0a; border-color: var(--neon-green); color: var(--neon-green); 
    box-shadow: 0 0 5px rgba(0,255,65,0.2);
}

/* PIANO */
.piano-key { border-radius: 2px; font-size: 10px; font-weight: bold; }
.white-key { background: #ccc; color: #000; height: 100%; }
.black-key { background: #222; color: #777; border: 1px solid #444; height: 80%; margin-top: 2px; }
.piano-key:active { background: var(--neon-green) !important; color: #000 !important; }

/* PANEL MODES */
.panel-docked { height: 220px; } 
.panel-overlay { height: 350px; } /* Más alto si se quiere desacoplar después */

/* SLIDER */
input[type=range]::-webkit-slider-thumb { 
    -webkit-appearance: none; height: 14px; width: 14px; 
    background: var(--neon-green); border-radius: 50%; 
    box-shadow: 0 0 5px var(--neon-green);
}